include LICENSE
include README.md
include requirements.txt
include pyscnet/Preprocessing/*.py
include pyscnet/BuildNet/*.py
recursive-include pyscnet/BuildNet/Docker_App *
include pyscnet/NetEnrich/*.py
include pyscnet/Plotting/*.py
