numpy
pandas
sklearn
scipy
scikit-learn
dask
distributed
xlrd
fsspec>=0.3.3
arboreto~=0.1.5
gensim
inspect-it
networkx
tqdm
multiprocess
pickle-mixin
community
snfpy
scanpy
docker~=4.0.2
seaborn
matplotlib
pyvis
python-louvain
setuptools
nbsphinx
dash
gunicorn>=19.9.0
plotly
dash_bootstrap_components
dash_cytoscape
jupyter_plotly_dash
dash_html_components
dash_uploader
openpyxl
